$social-size: 32px;
$social-border: 2px;

.social {
    text-align: center;
    list-style: none;
    padding: 0;
    &__item {
        display: inline-block;
        margin: 5px;
    }
    &__link {
        display: inline-block;
        color: $light-gray;
        text-decoration: none;
        width: $social-size;
        height: $social-size;
        line-height: calc(#{$social-size} - 2 * #{$social-border});
        border: $social-border solid $light-gray;
        border-radius: 50%;
        @include tr;
        @include hover {
            background-color: $light-gray;
            color: $secondary-color;
        }
    }
}